<h3>注文情報確認</h3>


 <div class=container px-5 px-sm-0 >
  <div class="row" >

    <table class="table table-hover table-inverse">
      <thead>
       <tr>
        <th></th>
        <th>商品名</th>
         <th>単価（税込）</th>
          <th>数量</th>
           <th>小計</th>



       </tr>
      </thead>

      <tbody>
       <% @cart_items.each do |cart_item| %>
        <tr>
          <td><%= image_tag cart_item.item.get_image(200,200) %></td>
           <td><%= cart_item.item.name %></td>
            <td><%= cart_item.item.price %></td>
            <td><%= cart_item.amount %></td>
          <td>
           <%= cart_item.item.price* cart_item.amount %>
           <% @subtotal += cart_item.item.price* cart_item.amount %>
          </td>
         </tr>
        <% end %>
      </tbody>
    </table>

    <table  class="table table-hover table-inverse">
     <thead>
        <th>送料</th>
        <th>商品合計</th>
        <th>請求金額</th>
     </thead>

     <tbody>
              <td><%= @shipping_cost %></td>
              <td><%= @subtotal %></td>
              <td><%= @shipping_cost + @subtotal %></td>
     </tbody>
    </table>
 </div>
    <h2>支払い方法</h2>
     <% if @order.payment_method ==0 %>
     <p>クレジットカード</p>
     <% else %>
     <p>銀行振込</p>
     <% end %>

     <h2>お届け先 </h2>
     <p><%= @order.address %></p>

     <%= form_with model: @order , url: orders_path  do |f| %>
      <%= f.hidden_field :address, :value => @order.address %>
      <%= f.hidden_field :payment_method, :value => @order.payment_method %>
      <%= f.hidden_field :total_payment, :value => @subtotal %>
      <%= f.hidden_field :shipping_cost, :value =>  @shipping_cost %>
      <%= f.submit "注文を確定する" %>
     <% end %>


</div>